.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  list-style: none;
  @apply flex pl-0
}

.nav-link-item {
  @apply pr-8
}

.nav-link-text {
  @apply text-black
}

.site-title {
  @apply text-gray-600 font-bold text-5xl
}