*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
section{
    margin-top: 20px;
}
/*---------------------------------------------------------------------------------*/
/*----------------------------REUSE COMPONENT-------------------------------------*/
/*---------------------------------------------------------------------------------*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 20px 30px;
    margin: 20px 5px;
    border-radius: 25px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}
.btn:hover, .btn:active{
    background-color: #d35400;
}
.heading-main-text, .title{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading-main-text{
    font-size: 300%;
    font-weight: 300;
    word-spacing: 5px;
    line-height: 135%;
    color: white;
    margin: 20px 0;
}
.title{
    margin-top: 20px;
    font-size: 180%;
    font-weight: 700;
    color: rgb(165, 105, 53);
    text-align: center;
}
.title::after{
    content: " ";
    display: block;
    width: 160px;
    height: 2px;
    background-color: rgb(165, 105, 53, 0.5);
    margin: 0 auto;
    margin-top: 10px;
}
.p-long{
    margin-top: 10px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
li{
    list-style: none;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------HEAD---------------------------------------*/
/*---------------------------------------------------------------------------------*/
header{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.8), rgba(45,95,93,0.85)), url('../img/background4.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.logo{
    width: 250px;
    margin-left: 20px;
    margin-top: -50px;
    float: left;
}
.main-nav{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
.main-nav li{
    margin-right: 20px;
    display: inline-block;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 3px 0;
    transition: border-bottom 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #cccccc;
}
.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------ABOUT---------------------------------------*/
/*---------------------------------------------------------------------------------*/
.about-section{
    margin-top: 20px;
}
.about-picture{
    position: relative;
    margin-top: 30px;
}
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border-color: rgb(155, 241, 241);
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .7s;
}
.picture-title{
    position: absolute;
    transform: translate(-50%,100%);
    font-size: 90%;
    color: #c2e1fd;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all .7s;
}
.about-picture:hover img, .about-picture:active img{
    filter: brightness(55%) blur(2px);
}
.about-picture:hover .picture-title, .about-picture:active .picture-title{
    opacity: 1;
    transform: translate(-50%,-50%);
}
/*---------------------------------------------------------------------------------*/
/*------------------------------PRODUCT---------------------------------------*/
/*---------------------------------------------------------------------------------*/
.product-section{
    background-color: #f4f4f4;
}
.product-section h2{
    margin-bottom: 50px;
}
.product-box{
    width: 90%;
    display: block;
    text-align: center;
    background-color: #eeefff;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 3px 5px 10px #e0e0e0;
}
h3{
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.product-price{
    font-size: 200%;
    color: #265077;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}
.product-box ul li{
    margin-left: -15%;
    margin-bottom: 25px;
}
.small-icon{
    color:  #494B68;
    font-size: 130%;
    margin-right: 20px;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------TESTIMONIALS---------------------------------------*/
/*---------------------------------------------------------------------------------*/
.testimonials-section{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.8), rgba(45,95,93,0.85)), url('../img/background2.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.testimonials-section h2{
    margin-bottom: 70px;
}
blockquote{
    font-size: italic;
    color: white;
    width: 95%;
}
blockquote::before{
    content: "\201C";
    display: block;
    font-size: 400%;
}
cite{
    display: block;
    color: #6b95bd;
    font-style: italic;
    font-size: 90%;
}
cite img{
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;    
}
/*---------------------------------------------------------------------------------*/
/*------------------------------SPONSORS---------------------------------------*/
/*---------------------------------------------------------------------------------*/
.sponsor-section{
    margin-bottom: 50px;
}
.sponsor-showcase{
    margin: 50px 10%;
    text-align: center;
}
.sponsor-showcase li{
    float: left;
    width: 30%;
}
.logo-sponsor{
    width: 140px;
    cursor: pointer;
    transition: all .3s;
}
.logo-sponsor:hover, .logo-sponsor:active{
    transform: scale(1.1);
}
figcaption{
    font-size: 120%;
    color: #265077;
    font-weight: 900;
    cursor: pointer;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------CONTACT---------------------------------------*/
/*---------------------------------------------------------------------------------*/
.contact-section{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.8), rgba(45,95,93,0.85)), url('../img/background5.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.information{
    margin-top: 50px;
}
.information li{
    font-size: 90%;
    line-height: 200%;
}
.information li i{
    color: #265077;
    transition: all .3s;
}
.information li i:hover,
.information li i:active{
    transform: scale(1.5);
}
.social-icon{
    margin-top: 50px;
}
.social-icon li{
    display: inline-block;
    margin-left: 10%;
}
.social-icon li i{
    font-size: 200%;
    color: white;
    transition: all .5s;
}
.social-icon li i:hover,
.social-icon li i:active{
    transform: scale(1.5);
    color: #d35400;
}
.contact-section form{
    background-color: rgba(0, 0, 0, .3);
    margin-left: 40%;
}
form{
    padding: 50px 30px;
}
form .row{
    margin: 10% 0 0 10%;
    height: 50%;
}
.row label{
    font-size: 80%;
}
input, textarea{
    padding: 20px;
    color: white;
    font-family: 'Lato' sans-serif;
    background-color: rgba(0, 0, 0, .5);
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
}
textarea{
    resize: none;
}
input[type="submit"]{
    outline: none;
    font-size: 150%;
    font-weight: 500;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------FOOTER---------------------------------------*/
/*---------------------------------------------------------------------------------*/
footer{
    text-align: center;
    color: white;
    background-color: #494949;
    padding: 20px;
}
